{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1><span>Welcome to</span> ListPost</h1>

            {% for joke in jokes %}
		        <li>
		        <div>
		        	<h3>{{ joke.title }}</h3>
		        	<img src="{{ asset('uploads/jokepost/' ~ joke.img) }}">
		        </div>
		        </li>
		    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}