{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1><span>Welcome to</span> ListPost</h1>

            {% for user in users %}
		        <li>
		        <div>
		        	<h3>{{ user.username }}</h3>
		        	<h3>{{ user.email }}</h3>
		        </div>
		        </li>
		    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}