<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/home">9Quetzal</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
      {% if app.user is null %}
        <a href="/login"><span class="glyphicon glyphicon-user"></span>Login</a>
      {% else %}
        <a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout ({{app.user}})</a>
      {% endif %}
      </li>
      <li class="navbar-right">
        <a href="/register">Sign UP</a>
      </li>
    </ul>
  </div>
</nav>